---
const { repoName, bannerPath } = Astro.props;

const apiUrl = `https://api.github.com/repos/${repoName}`;
const bannerUrl = `${apiUrl}/contents/${bannerPath}`;
let bannerImg = null;
let repo = null;

try {
  const req = await fetch(apiUrl);
  if (!req.ok) throw new Error(`Repo fetch failed : ${req.status}`);
  repo = await req.json();

  // Fetch banner image
  const bannerRes = await fetch(bannerUrl);
  if (!bannerRes.ok) throw new Error(`Banner fetch failed: ${bannerRes.status}`)

  const banner = await bannerRes.json();
  bannerImg = banner.download_url;

} catch (error) {
  console.error('Error fetching repository data:', error);
}

import { Image } from 'astro:assets';
---

<div class="section is-medium">
  <div class="repo-box">
    <a class="repo-link" href={repo?.html_url}>
      <Image inferSize={true} class="repo-img" src={bannerImg} alt={`${repo?.name} banner`} />
    </a>
  </div>

  <div class="has-text-left">
    <span class="title repo-title">{repo?.name}</span>

    <div class="subtitle">
      <span class="icon accent-color"> <i class="fa-solid fa-star"></i></span>
      <span class="star-count">{repo?.stargazers_count}</span>
    </div>

    <span class="subtitle repo-desc">{repo?.description}</span>
  </div>
</div>

<style>
</style>
